body{
    margin:0;
    min-width: 1000px;
    background-image: url('bg.png');
}

#dashboardcontainer{
    background-color: rgba(128, 128, 128, 0.863);
    padding: 25px;
}

#container1{
    display: flex;
    justify-content: center;
    height: 500px;
}

#profilecontainer{
    background-color: rgba(243, 240, 240, 0.849);
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    width: 500px;
    height: 350px;
    border-radius: 80px;
    text-align: center;
    border-style: dotted;
    border-color:rgba(97, 134, 151, 0.884);
    padding-top: 30px;
}

.headertext{
    height: 40px;
    color: rgba(0, 0, 0, 0.637);
    font-size: 30px;
    margin-top: -5px;
    line-height: 20px;
    border-bottom: 1px solid gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.profile-header-container{
    height: 190px;
    margin-top: -10px;
    text-align: center;
}

.profile-header-img{
    padding: 30px;
}

.profile-header-img > img.img-circle {
    width: 130px;
    height: 120px;
    border: 2px solid #51D2B7;
    border-radius: 50%;
}

.profile-header {
    margin-top: 43px;
}

    /**
* Ranking component
*/
.rank-label-container {
    margin-top: -18px;
    color: white;
    text-align: center;
}

.label.label-default.rank-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}

.user-info-block {
    color: rgba(0, 0, 0, 0.795);
    margin-top: -20px;
    text-align: center;
    border-radius: 30px;
    height: 100px;
    min-width: fit-content;
}

.user-heading {
    text-align: center; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textbio{
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1px;
}

#buttoncontainer{
    margin-top: -30px;
    height: 40px;
    text-align: center;
    display:flex;
    justify-content: center;
}

.tablinks{
    padding:5px;
    width: 200px;
    height: 40px;
    background-color: rgb(81, 210, 183);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer; 
}

.tablinks:hover {
    background-color: rgb(71, 173, 151);
}

.tablinks.active{
    background-color: rgb(42, 104, 90);
}

.button1{
    padding:5px;
    width: 200px;
    margin-right: 3px;
    border-radius: 20px;
    text-align:center;
}

.button2{
    padding: 5px;
    width: 200px;
    margin-left: 3px;
    border-radius: 20px;
    text-align:center;
}

.tabcontent {
    padding: 6px 12px;
    margin-top: 20px;
    display: none;
}

#userpostcontainer{
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.userpostholder{
    height: auto;
    width: 700px;
    border-radius: 30px;
    background-color: rgba(243, 240, 240, 0.849);
    border-style:groove;   
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.userRecentPost-img{
    display: flex;
    padding-top: 15px;
    padding-left: 27px;
}

.userRecentPost-img > img.img-circlee {
    width: 35px;
    height: 30px;
    border: 2px solid #51D2B7;
    border-radius: 50%;
    margin-top: 5px;
}

.userRecentPostName{
    display: flex;
    margin-top: 15px;
    margin-right: 145px;
    padding-left: 8px;
    height: 20px;
    width: 300px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(58, 56, 56, 0.877);
    font-size: small;
    font-weight: 900;
}

.userCreditScore{
    height: auto;
    width: auto;
    margin-left: 5px;
    padding-top: 5px;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(128, 128, 128);
}

.userText{
    height: 75px;
    width: 640px;
    margin-top: 10px;
    margin-left: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(44, 42, 42, 0.815);
    background-color: rgba(226, 220, 220, 0.76);
    border-radius: 15px;
    padding: 10px;
    font-weight: 500px;
}

.userDate{
    height: 20px;
    width: 130px;
    margin-top: 12px;
    margin-bottom: 10p  x;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    border-color: rgb(145, 142, 142);
    border-style:double;
    border-radius: 15px;
    font-size: smaller;
    font-weight: 300;
    text-align: center;
    background-color: rgba(231, 229, 229, 0.925);
}

.userTags{
    width: 640px;
    height: auto;
    color: rgba(54, 54, 94, 0.575);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30px;
    margin-top: 4px;
    font-size: smaller;
    font-weight: 20;
    padding: 5px;
}

.userbuttonscontainer{
    margin-top: 5px;
    width: 650px;
    height: 40px;
    margin-left: 30px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8px;
}

.upvotecount{
    height: 40px;
    width: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    padding-top: 15px;
    padding-right: 10px;
    text-align: left;
    color: rgb(104, 102, 102);
}

.buttonsproperties{
    height: auto;
    width: auto;
}

.dropdownn{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownn-content {
    display: none;
    position: absolute;
    background-color: #ebe7e7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* Links inside the dropdown */
.dropdownn-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdownn-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdownn:hover .dropdownn-content {
    display: block;
}