.navbar-inverse {
    background-color: #FEC00F;
    border-color:  #FEC00F;
}

.navbar-brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.row{
    margin-top: 5%;
}